.sidenav-content {
    position: fixed;
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    background-color: antiquewhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.active{
    background-color:rgba(9, 30, 66, 0.1);
}

mat-icon{
    color: grey;
}

.logout {
    position: absolute;
    bottom: 8px;
}
