.card {
  max-width: 250px;
  max-height: 50px;
  cursor: pointer;
  padding: 3px 15px;
}

.card-text {
  max-width: 250px;
  max-height: 50px;
  padding: 5px 15px;
  overflow: hidden; // these two must be true for text-overflow to work
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.tooltip-container {
  position: relative;
  &:hover {
    .tooltip-content {
      visibility: visible;
      opacity: 0.8;
      transition: opacity 0.4s ease;
      //top: -125px;
    }
  }
}
.tooltip-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 100%;
  top: -100%;
  background: #2e2e2d;
  border-radius: 5px;
  padding: 15px 15px;
  margin: 16px;
  font-size: 15px;
  max-width: 300px;
  height: auto;
  z-index: 2;
  color: #E8E8D8;
}
