<section class="header">
  <h2>Tasks for __ event</h2>
  <h5>hover to show description (todo: enhance look and feel)</h5>
  <br/>
</section>

<div class="card-deck">
  <div class="card tooltip-container" *ngFor="let task of tasks">
    <div class="card-text">{{task.title}}</div>
    <div class="tooltip-content">
      <h6>{{task.title}}</h6>
      <p>{{task.description}}</p>
    </div>
  </div>
</div>

<button
  class="button-bottom-right"
  style="background-color: antiquewhite"
  routerLink="/main/add-task"
  mat-fab>
  <mat-icon>add</mat-icon>
</button>
