.sidenav-content {
  display: flex;
  height: 100vh;
  padding-left: 10px;
}

.sidenav {
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}
.active{
  background-color:rgba(9, 30, 66, 0.25);
}

mat-icon{
  color: grey;
}
