<mat-sidenav-container>
  <mat-sidenav mode="side" class="sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true">
    <mat-nav-list>
      <mat-list-item routerLink="1" routerLinkActive="active" >
        <mat-icon>list</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="2" routerLinkActive="active">
        <mat-icon>face</mat-icon>
      </mat-list-item>
      <mat-list-item routerLink="3" routerLinkActive="active">
        <mat-icon>home</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
