<!-- nav -->
<!--<nav class="navbar navbar-expand navbar-dark bg-dark">-->
<!--  <div class="navbar-nav">-->
<!--    <a class="nav-item nav-link" routerLink="/">Home</a>-->
<!--    <a class="nav-item nav-link" (click)="logout()">Logout</a>-->
<!--  </div>-->
<!--</nav>-->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a target="_top">The Pineapple Project - Your Perfect Companion</a>
  </p>
  <p>
    <a target="_top">OOC-PROJECT</a>
  </p>
</div>
