.button-bottom-right {
    position: fixed;
    bottom: 16px;
    right: 32px;
    z-index: 3; // make it stay above everything
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 350px;
    min-width: 350px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.group-form-popup {
    display: none;
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 3;
}

.group-form-container {
    min-width: 150px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
}

.group-close-button {
    background: inherit;
    border: none;
    float: right;
}

.group-submit-button {
    background: inherit;
    border: none;
    float: right;
}

.group-submit-button-container {
    height: 30px;
    width: 100%;
}

.group-submit-icon {
    color: #b2b2a9;
    font-size: 40px;
    &:hover {
        color: seagreen;
        text-shadow: 0 0 5px rgba(54, 161, 70, 0.2);
    }
    &:active {
        color: #323232;
    }
}

.add-user-button {
    float: right;
}

.add-user-form-container {
    min-width: 150px;
    padding: 20px;
    background: white;
    border-radius: 20px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
}

.add-user-form-popup {
    display: none;
    position: absolute;
    left: 103%;
    top: 0;
    z-index: 3;
}

.task-add-icon {
    color: #323232;
    &:hover {
        color: seagreen;
        text-shadow: 0 0 5px rgba(54, 161, 70, 0.2);
    }
    &:active {
        color: #323232;
    }
}

.add-user-cancel-icon {
    color: #323232;
    &:hover {
        color: #d92a3b;
        text-shadow: 0 0 5px rgba(54, 161, 70, 0.2);
    }
    &:active {
        color: #323232;
    }
}

.add-button {
    background: inherit;
    border: none;
    float:right;
}

.user-list-popup {
    display: none;
    position: absolute;
    left: 103%;
    top: 0;
    z-index: 3;
}

.user-list-container {
    min-width: 300px;
    max-width: 300px;
    min-height: 100px;
    max-height: 400px;
    background: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    overflow-x: hidden;
}
