<section class="header">
    <h2 *ngIf="user">{{user.firstname}}'s Groups</h2>
</section>

<div class="card-deck">
<!--    <div class="card">-->
<!--        <div class="card-body">-->
<!--            <h5 class="card-title">sadsadfads</h5>-->
<!--        </div>-->
<!--        <div class="card-footer">-->
<!--            <div class="text-muted">hjkjhjk</div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="card" *ngFor="let userGroup of userGroups">
        <div class="card-body">
            <h5 class="card-title">{{userGroup.name}}</h5>
        </div>
        <div class="card-footer">
            <div class="text-muted">{{userGroup.description}}</div>
        </div>
    </div>
</div>

<button
    class="button-bottom-right"
    style="background-color: antiquewhite"
    routerLink="/main/add"
    mat-fab>
    <mat-icon>add</mat-icon>
</button>
