.header {
  padding-top: 10px;
  text-align: center;
  font-family: Ubuntu, serif;
}

.card {
  max-width: 400px;
}

.button-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

mat-icon{
  color: grey;
}

button:focus {
  outline:0;
}
