<section class="header">
  <img src="../../assets/outline_ballot_black_48dp.png" alt="logo" class="logo">
  <h1>PINEAPPLE</h1>
</section>
<div class="invalid-feedback">
</div>
<div
  *ngIf="submitted && (f.username.errors || f.password.errors)"
  class="alert alert-danger"
  role="alert">
  <div *ngIf="f.username.errors.required || f.password.errors.required">Username and password is required</div>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Username</mat-label>
      <label>
        <input
          matInput
          type="text"
          class="control"
          formControlName="username"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
          placeholder="example@example.com">
      </label>
      <mat-hint align="start">We'll never share your email with anyone else.</mat-hint>
    </mat-form-field>
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Password</mat-label>
      <label>
        <input
          matInput
          type="password"
          class="control"
          formControlName="password"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
      </label>
    </mat-form-field>
  </div>
  <div class="button-container">
    <button
      [disabled]="loading"
      type="submit"
      mat-raised-button color="primary"
      class="button">Login</button>
    <button
      mat-button color="primary"
      routerLink="/register"
      class="button">Register</button>
  </div>
</form>
