.header {
  padding-top: 80px;
  text-align: center;
}

.form-field,
.alert-danger {
  display: block;
  width: 300px;
  margin: 20px auto;
  font-family: Ubuntu, sans-serif;
}

.button-container button {
  margin: 3px auto;
  font-family: Ubuntu, serif;
  color: grey;
}

button:focus {
  outline:0;
}
