<section class="header">
  <h2>Register</h2>
</section>
<div
  *ngIf="submitted && (
  f.firstName.errors ||
  f.lastName.errors ||
  f.username.errors ||
  f.email.errors ||
  f.password.errors)"
  class="alert alert-danger"
  role="alert">
  <div *ngIf="f.firstName.errors?.required">First Name is required</div>
  <div *ngIf="f.lastName.errors?.required">Last Name is required</div>
  <div *ngIf="f.username.errors?.required">Username is required</div>
  <div *ngIf="f.email.errors?.required">Email is required</div>
  <div *ngIf="f.email.errors?.email">Please enter a valid email address</div>
  <div *ngIf="f.password.errors?.required">Password is required</div>
  <div *ngIf="f.password.errors?.minlength">Password must be at least 6 characters</div>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>First Name</mat-label>
      <label>
        <input
          matInput
          type="text"
          class="control"
          formControlName="firstName"
          [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Last Name</mat-label>
      <label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          class="control"
          [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Username</mat-label>
      <label>
        <input
          matInput
          type="text"
          formControlName="username"
          class="control"
          [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
      </label>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Email</mat-label>
      <label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="example@example.com"
          class="control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      </label>
      <mat-hint align="start">We'll never share your email with anyone else.</mat-hint>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Password</mat-label>
      <label>
        <input
          matInput
          type="password"
          formControlName="password"
          class="control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      </label>
    </mat-form-field>
  </div>
  <div class="button-container">
    <button
      type="submit"
      mat-raised-button color="primary"
      class="button">Register</button>
    <button
      routerLink="/login"
      mat-button color="primary"
      class="button">Cancel</button>
  </div>
</form>
