<!--<div class="pos-f-t">-->
<!--  <nav class="navbar navbar-dark bg-dark">-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--  </nav>-->
<!--  <div class="collapse" id="navbarToggleExternalContent">-->
<!--    <div class="bg-dark p-4">-->
<!--      <h5 class="text-white h4">Collapsed content</h5>-->
<!--      <span class="text-muted">Toggleable via the navbar brand.</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <mat-sidenav-container class="example-container">-->
<!--    <mat-sidenav #drawer mode="side" opened role="navigation">-->
<!--      <mat-nav-list>-->
<!--        <a mat-list-item routerLink='/main/home'>First Component</a>-->
<!--        <a mat-list-item routerLink='/main/second'>Second Component</a>-->
<!--      </mat-nav-list>-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content>-->
<!--      <router-outlet></router-outlet>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</div>-->

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->
<!--  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">-->
<!--    <a class="navbar-brand" href="#">Hidden brand</a>-->
<!--    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->
<!--<router-outlet></router-outlet>-->

<mat-toolbar class="example-header">Header</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side" opened role="navigation" class="example-sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink='/main/home'>First Component</a>
      <a mat-list-item routerLink='/main/second'>Second Component</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
